.MessageSenderTop{
    padding: 15px;
    display: flex;
    border-bottom: 1px solid #f1f2f5;
}

.MessageSenderTop form{
    flex:1;
    display: flex;
}

.MessageSenderTop input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #f1f2f5;
}

.MessageSenderInput{
    flex:1;
}

.MessageSenderTop form button{
    display: none;
}
@media (max-width:580px){
    .MessageSenderTop form {
        flex-direction: column;
    }
    .MessageSenderTop form input{
        display: inline-block;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    .MessageSenderTop form button{
        display: inline-block;
        margin: 0 10px;
    }
}